:root {
  --main-deep-blue: #004C99;
  --main-bright-green: #00CC66;
  --main-sky-blue: #66CCFF;
  --main-light-green: #99FFCC;
  --main-darkend-green: #00994C;
  --main-gray: #666666;
  --main-bg-light-grey: #F4F6F9;
  --main-light-grey: #AAAAAA;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: var(--main-bg-light-grey);
}

.app-container {
  min-height: 100vh;
  min-width: 680px;
  width: 50%;
  background-color: white;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--main-deep-blue);
}

h2 {
  font-size: 1.5rem;
  color: var(--main-deep-blue);
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

input {
  border-color: var(--main-light-grey);
}

.btn-primary {
  color: white;
  background-color: var(--main-bright-green);
  border: solid 1px var(--main-light-green);
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--main-darkend-green);
}

input[type="button"] {
  color: white;
  background-color: var(--main-bright-green);
  border: solid 1px var(--main-light-green);
  transition: background-color 0.3s;
}

input[type="button"]:hover  {
  background-color: var(--main-darkend-green);
}

.form-control:focus {
  box-shadow: 0 0 0 1px var(--main-sky-blue);
}

.form-control.is-invalid:focus {
  box-shadow: none;
}

.input-btn {
  min-width: fit-content;
  max-width: 50%;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.input-btn.start-checkin-btn {
  padding: 8px 30px;
  border-radius: 5px;
}

.input-container {
  position: relative;
  margin: 0.8rem 0;
}

.input-container > label {
  position: absolute;
  top: -10px;
  left: 0.5rem;
  background-color: white;
  font-size: 0.8rem;
  color: var(--main-bright-green);
  padding: 1px 3px;
}

.input-container .input-btn {
  border-color: var(--main-light-grey);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-container .input-box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 680px) {
  .app-container {
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
  
}