:root {
  --main-deep-blue: #004C99;
  --main-bright-green: #00CC66;
  --main-sky-blue: #66CCFF;
  --main-light-green: #99FFCC;
  --main-gray: #666666;
  --main-bg-light-grey: #F4F6F9;
  --main-light-grey: #AAAAAA;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: var(--main-bg-light-grey);
}

.app-container {
  min-height: 100vh;
  min-width: 680px;
  width: 50%;
  background-color: white;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--main-deep-blue);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

input[type="button"] {
  color: white;
  background-color: var(--main-bright-green);
  border: solid 1px var(--main-light-green);
}

input[type="button"]:hover {
  opacity: 0.9;
  transition: opacity 0.4s;
}

@media only screen and (max-width: 680px) {
  .app-container {
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
  
}