.dotsloader-container {
  display: flex;
  margin: 10px;
  margin-bottom: 0;
}

.dot {
  width: var(--dot-width);
  height: var(--dot-height);
  margin: var(--dot-gap);
  background-color: #3f8cff;
  border-radius: 50%;
  animation: jump 0.6s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}