.triagestartpage-container .main-logo {
  transform: scale(0.8);
}

.triagestartpage-container {
  display: flex;
  min-height: 75vh;
  height: 75vh;
  justify-content: center;
  justify-content: center;
  align-items: center;
}