.heartloader-container {
  margin: 10px;
  width: var(--heart-width);
  height: var(--heart-height);
}

.heart {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 60, 93);
  transform: rotate(-45deg);
  animation: pulse 1.5s infinite ease-in-out;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 60, 93);
  border-radius: 50%;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  left: 50%;
  top: 0;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1) rotate(-45deg);
      opacity: 0.8;
  }
  50% {
      transform: scale(0.8) rotate(-45deg);
      opacity: 1;
  }
}
